gymnasium
typer
omegaconf
arcle
gym
dm_tree
wandb
hydra-core
torchvision
git+https://github.com/katsura-jp/pytorch-cosine-annealing-with-warmup.git
torch
torch==2.2.2
torchvision==0.17.2
torchaudio==2.2.2
scikit-image
matplotlib
tqdm
lz4
numpy==1.26.4
ffmpeg-python
